header#magazine-header
	.row.light-gray
		.col-lg-12			
			ul.top-bar.list-unstyled
				li
					a: i.fa.fa-facebook
				li
					a: i.fa.fa-twitter
				li
					a: i.fa.fa-dribbble
				li.pull-right
					a: i.fa.fa-search
	.row
		.col-lg-12
			#logo-wrapper.center-block
				div#logo
					h5 CREAM CULTURE
			nav: ul.list-inline.text-center
				li: a.active all news
				li: a articles
				li: a videos
				li: a photos
