extends layout

head
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/global.js')

block content
	form#formAddUser(name="adduser",method="post",action="/login")
		input#inputUserName(type="text", placeholder="username", name="username")
		input#inputPassword(type="text", placeholder="password", name="password")
		button#btnLogin(type="submit") Log in
	br
	form( action="/register" )
		button#btnRegister(type="submit") New User