br
br
.container
  .row
    .col-lg-7
      .row
        .col-lg-3
          img#homeProfilePicture.avatar(style='width:137px' src='/api/getProfilePicture')
        .col-lg-9
          div
            i.fa.fa-share-square-o
            small SHARE
          h3 #{username}
          div
            i.fa.fa-map-marker
            small SANTA CRUZ, CA, USA
          .btn-group
            button.btn.btn-default(type='button') FACEBOOK
            button.btn.btn-default(type='button') TWITTER
            button.btn.btn-default(type='button') INSTAGRAM
    .col-lg-5
      p.paragraph.text-justify
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate sint occaecat cupidatat proident.