
.subtitle.text-center
  h4 Edit Your Profile
  small Lorem ipsum dolor amet consectetur adipisicing
.form-area
  .container
    .row
      .col-lg-5
        img.userface.pull-right(src='/images/userface.jpg')
      .col-lg-7
        .box.registry
          form
            div
              label NAME
              input(placeholder='e.j Stacy', type='text')
            div
              label LASTNAME
              input(placeholder='e.j Glover', type='text')
            div
              label EMAIL ADDRESS
              input(placeholder='stacyglover@gmail.com', type='email')
            div
              label CITY
              input(placeholder='MIAMI', type='text')
            div
              button(type="button") SAVE
